<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight" id="detail">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<div class="form-group">
								<label class="col-sm-3 control-label"><span style="color: red">*</span>消息编号：</label>
								<div class="col-sm-8">
									<textarea id="msgFlowId" name="msgFlowId" v-model="record.msgFlowId" class="form-control"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label"><span style="color: red">*</span>消息内容：</label>
								<div class="col-sm-8">
									<textarea id="content" name="content" v-model="record.content" class="form-control"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label"><span style="color: red">*</span>发送结果：</label>
								<div class="col-sm-8">
									<textarea id="resultDesc" name="resultDesc" v-model="record.resultDesc" class="form-control"></textarea>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script th:inline="javascript" type="text/javascript">
		var edit = new Vue({
			el: '#detail',
			data: {
				prefix: "/admin/news/msgTemplateConfig",
				record: [[${record}]]
			},
			created: function () {
			},
			mounted: function () {
				var _this = this;
				_this.checkvalue("pushSms",_this.record.pushSms);
				_this.checkvalue("pushWeixin",_this.record.pushWeixin);
				_this.checkvalue("pushAli",_this.record.pushAli);
			},
			methods: {
				/**
				 * 修改
				 */
				update: function () {
					var _this = this;
					_this.record.pushSms = _this.ischecked("pushSms");
					_this.record.pushWeixin = _this.ischecked("pushWeixin");
					_this.record.pushAli = _this.ischecked("pushAli");
					$.ajax({
						cache : true,
						type : "POST",
						url : _this.prefix + "/update",
						data: _this.record,
						async : false,
						success : function(data) {
							if (data.code == 200) {
								parent.layer.msg("保存成功");
								parent.reLoad();
								var index = parent.layer.getFrameIndex(window.name); // 获取窗口索引
								parent.layer.close(index);
							} else {
								layer.alert(data.message)
							}
						},
						error : function(request) {
							layer.alert("Connection error");
						}
					});
				},
				ischecked: function (value) {
					if($("#"+value).prop('checked')){
						return "0";
					}else {
						return "1";
					}
				},
				checkvalue: function (data,value) {
					if(value == 0){
						$("#"+data).prop("checked",true);
					}else{
						$("#"+data).prop("checked",false);
					}
				},
				dataValid: function (data,tips) {
					if(data == null || data == ""){
						layer.alert(tips);
					}
				}
			}
		})
	</script>
</body>
</html>
